/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Packages/
/ProjectSettings/


*.pidb
*.csproj
*.sln
*.userprefs
*.unityproj
*.suo
*.svd
*.user
*.booproj
*.DS_Store
*.vscode

# JetBrains Rider
.idea/
*.sln.iml
